body{ margin: 0%; }
/*.Title{*/
/*    text-align: left;*/
/*}*/

  /* Website title */
.website {
    display: flex; 
    justify-content: center;
    margin-bottom: 40px;
    font-size: 3vmax;
    margin-top: 50px;
}

/* Filters */

#filters {
  display: flex; 
  justify-content: space-between; 
  width: 75%; 
  margin: 5px auto 0;
  transition: all 0.3s ease;
}

.filter-labels {
    font-size: 1.5vmax; 
    display: flex; 
    justify-content: center;
}

.dropbtn {
    background-color: white; 
    color: black;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(137, 136, 136, 0.2);
    border-radius: 5px;
    font-size: 1vmax;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle; /* center text vertically */
    margin-right: 10px;
    display: flex; 
    justify-content: center;
    transition: all 0.3s ease;
    height: 8vh; 
    width: 10vw;
  }

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(49, 173, 251, 0.2);
  }


  .dropbtn:hover .dropdown-arrow {
    top: 35px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #333;
    border-top: 10px solid transparent;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    height: 30vh;
    min-width: 160px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1.5vmax;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  
  .tags {
      background-color: whitesmoke; 
      color: black;
      border: 2px solid black;
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(137, 136, 136, 0.2);
      border-radius: 5px;
      font-size: 0.7vmax;
      display: inline-block;
      padding: 5px 10px;
      margin-right: 10px;
      vertical-align: middle; /* center text vertically */
      transition: all 0.3s ease;
  }

  .tags:hover, .dropbtn:focus {
    background-color: rgba(49, 173, 251, 0.2);
  }

/* Tags */
  #tags {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
    transition: all 0.3s ease;
  }


  #tag-label {
    margin-right: 10px;
    margin-top: 5px; 
    font-size: 1vmax;
    transition: all 0.3s ease;
  }
  
  /* Search bar */
  #search {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    transition: all 0.3s ease;
    margin-bottom: 25px;
    }
  
  #searchbar {
      width: 70%;
      padding: 5px 10px;
      border: 2px solid black;
      margin: 10px;
      text-align: center;
      font-size: 1.5vmax;
      transition: all 0.3s ease;
    }
  
  #searchbar::placeholder {
    color:rgb(182, 181, 181)
  }
  
  #searchbar:focus {
      outline: none;
    }
  
  
  .search-button {
    background-color: rgb(218, 235, 255); 
    color: black;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(137, 136, 136, 0.2);
    border-radius: 5px;
    font-size: 1vmax;
    display: inline-block;
    padding: 8px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle; /* center text vertically */
    height: 7%; 
  }

  .search-term {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(137, 136, 136, 0.2);
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px; 
  }

  .search-button:hover, .dropbtn:focus {
    background-color: rgba(3, 66, 104, 0.2);
  }

  .alert {
    display: none;
    margin-top: 65px;
  }

  .alert.show {
    display: flex;
    position: absolute;
    margin-left: 80%;
    left: 0;
    width: 100%;
    font-size: 1vmax;
    color: rgb(227, 24, 55);
    transition: all .5s;
    overflow: hidden;
  }


  /* Go Back Button */
  .goback-button {
    position: absolute;
    background-color: rgb(218, 235, 255); 
    color: black;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(137, 136, 136, 0.2);
    border-radius: 5px;
    font-size: 1vmax;
    display: inline-block;
    padding: 8px 10px;
    vertical-align: middle; /* center text vertically */
    margin-left: 8px; 
    height: 7%; 
  }

  .goback-button:hover, .dropbtn:focus {
    background-color: rgba(3, 66, 104, 0.2);
  }

  /* Projects */

  #recent-project {
    display: flex; 
    justify-content: center; 
    font-size: 1.8vmax;
    color: rgb(1, 93, 118);
    margin-top: 30px;
  }

  .results {
    justify-content: center; 
    align-items: center;
    margin-bottom: 8%;
  }

#projects {
    justify-content: center; 
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.projects {
  display: block; 
  font-size: 1vmax;
  width: 50%;
  height: 80%;
  color: rgb(0, 139, 176);
  text-align: center;
  border: 0.7px rgb(68, 68, 68);
  box-shadow: 0px 5px 16px 0px rgba(137, 136, 136, 0.2);
  padding: 10px 20px;
  margin-top: 2%;
  margin-left: 18%;
  border-radius: 5px;
  justify-content: space-between; 
}


  .projects:hover {
    background-color: rgb(211, 224, 233);
    width: 60%;
    height: 100%;
    transition: all 0.3s ease;
  }

  .pagename {
    margin: 60px;
    font-size: 1.8vmax;
  }
  




  /* Scrolling bar */

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   /* scrolling hover */
  ::-webkit-scrollbar-thumb {
    background: rgb(62, 95, 115); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }


  /* Link Hover */
  .link-style {
    color: #4d4d4d;
    text-decoration: none;
    border-bottom: 1px solid #4d4d4d;
  }
  
  .link-style:hover {
    color: rgb(9, 160, 180);
    border-bottom: 1px solid rgb(43, 129, 187);
  }

  .project-name-style {
    color: #4d4d4d;
    text-decoration: none;
    border-bottom: 1px solid #4d4d4d;
    transition: all 0.3s ease;
    font-size: 2vmax;
  }
  
  .project-name-style:hover {
    color: rgb(9, 160, 180);
    border-bottom: 1px solid rgb(43, 129, 187);
  }
  