body {
    background-image: url(background2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100vw;
    overflow-y:auto;
    overflow-x: hidden;
  }

.map {
    display: flex; 
    justify-content: center; 
    margin-left: 40%;
}
  

.phone {
    font-size: 24px;
    color: #050303;
    margin-top: auto;
    font-weight: bold;
    font-style: italic;
}

#email {
    font-weight: 700;
    font-size: 27px;
    color: #0000EE;
    text-decoration: none;
    word-wrap: break-word;
    margin-top: auto;
}
