/* Navigation Bar */
#nav-logo{

}
#logo {
   width: 125px;
   height: 75px;

    margin-right:58%;
}
.topnav {
    overflow: hidden;
    background-color: #1E3866;
    display:flex;
    align-items: center;
    justify-content: right;
    padding-right: 40px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
